.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.menu-enter {
  max-height: 0px;
  -webkit-transition: max-height 1s ease;
  overflow: hidden;
}

.menu-enter.menu-enter-active {
  height: auto;
  max-height: 100px;
}

.menu-leave {
  max-height: 100px;
  -webkit-transition: max-height 1s ease;
}

.menu-leave.menu-leave-active {
  overflow: hidden;
  max-height: 0px;
}

ul {
  border: #ababab solid 1px;
  width: 70%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
